
@charset "UTF-8";
* {
margin : 0;
padding : 0;
}
#wrap {
background : top;
width : 983px;
margin-right : auto;
margin-bottom : 30px;
margin-left : auto;
}
body {
background-image : url(../images/pattern.jpg);
background-repeat : repeat;
}
h1 {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 1.4em;
color : #FFC000;
font-weight : bold;
}
h2 {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 1.2em;
color : #faf52f;
font-weight : bold;
}
h3 {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.9em;
color : #B2A1C7;
}
p {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.9em;
color : #58595b;
line-height : 18px;
}
strong {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 1em;
font-style : normal;
color : #a58900;
font-weight : bold;
}
a {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 1em;
/*color : #a58900;*/
color: blue;
}
a:hover {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 1em;
/*color : #51701c;*/
}
ul {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.9em;
line-height : 1.6em;
padding-left : 30px;
list-style-type : none;
}
li {
background : url(../images/bullet.png) no-repeat left center;
list-style-position : outside;
padding-left : 15px;
}
#content-container {
width : 963px;
}
#top {
background-image : url(../images/top-expand.png);
background-repeat : repeat-y;
width : 873px;
height : auto;
padding-left : 50px;
padding-right : 40px;
background-color : #5c7834;
}
#top-corner {
background-image : url(../images/top-corner.png);
height : 29px;
width : 963px;
background-repeat : no-repeat;
}
#top-container {
width : auto;
height : 100px;
padding-top : 20px;
padding-right : 0;
padding-bottom : 40px;
}
#logo {
font-family : Impact;
color : #dbe15e;
font-size : 3em;
float : left;
}
#header-txt {
padding : 30px;
}
#top-nav {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.9em;
font-weight : bold;
color : #eae54e;
float : right;
text-align : right;
text-decoration : none;
}
#top-nav a {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.9em;
font-weight : bold;
color : #000000;
border-bottom-width : 1px;
/*border-bottom-style : dotted;*/
border-bottom-color : #fc0;
}
#top-nav a:hover {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.9em;
font-weight : bold;
color : #c00;
text-decoration : none;
}
#bkg-yellow {
background-color : #eae54e;
background-image : url(../images/bkg-yellow.png);
background-repeat : repeat-y;
width : 963px;
float : left;
height : auto;
}
.bkg-yellow-ptn {
padding-left: 2px;
background-image : url(../images/bkg-yellow-pattern.png);
background-repeat : no-repeat;
height : 186px;
width : 480px;
z-index : 2;
}
.bkg-yellow-ptn1 {
background-repeat : no-repeat;
height : auto;
width : 880px;
padding-left : 60px;
z-index : 2;
}
.bkg-yellow-ptn2 {
background-image : url(../images/bkg-yellow-pattern.png);
height : auto;
width : 880px;
padding-left : 60px;
}
.img-1 {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.8em;
font-style : italic;
width : 255px;
height : auto;
float : right;
padding-right : 60px;
z-index : 3;
padding-top : 12px;
padding-bottom: 12px;
}
.img-2 {
width : 109px;
height : 82px;
}
#left-col {
width : 359px;
float : left;
padding-left : 60px;
height : auto;
padding-bottom : 20px;
}
#right-col {
width : 469px;
float : left;
height: auto;
z-index : 1;
}
/*
#form {
width : 320px;
padding-left : 0;
padding-top : 20px;
}
*/
select, checkbox {
color : #660;
background : #ffffff;
}
label {
display : block;
float : left;
width : 170px;
color: white;
}
/*
form {
width : 280px;
padding : 8px;
}
*/
.fieldset_area {
padding : 15px 30px 15px 30px;
width : 590px;
height : auto;
background-color : transparent;/*#373737;*/
font-size : 0.8em;
font-weight : bold;
color : #ffffff;
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
border : 0;
}
.fieldset_area1 {
margin: 16px 0px 3px 0px;
padding : 15px 30px 15px 30px;
width : 590px;
height : auto;
background-color : #d3c305;
font-size : 0.8em;
font-weight : bold;
color : #ffffff;
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
border : 0;
}
.field_explanation {
float : none;
margin-left : 170px;
margin-right : 5px;
width : 380px;
font-size : 11px;
color: #ffff33;
}
.field_explanation1 {
float : none;
margin-left : 0px;
margin-right : 30px;
width : 100%;
font-size : 11px;
color: #000033;
}
.field_explanation_short {
float : left;
margin-right : 10px;
width : 145px;
font-size : 12px;
color: black;
}
.field_explanation_short1 {
float : left;
margin-right : 10px;
width : 115px;
font-size : 12px;
color: #fffff0;
}
.form-item {
width : 100%;
height: auto;
padding : 6px 0px 16px 0px;
margin: 0px 0px 3px 0px;
border-bottom : dashed;
border-bottom-width : 1px;
border-bottom-color : #666666;
}
.button {
background-image : url(../images/btn.png);
height : 27px;
width : 73px;
}
input:focus, select:focus, checkbox:focus, textarea:focus {
color : #00000f;
background-color : #ffc;
}
#container {
width : 330px;
}
#bkg-white {
background-image : url(../images/bkg-white-pattern.png);
background-repeat : repeat-y;
height : auto;
width : 903px;
padding-top : 20px;
padding-left : 30px;
padding-right : 30px;
float : left;
}
#left-col-white {
width : 410px;
float : left;
padding-right : 20px;
padding-bottom : 10px;
}
#right-col-white {
width : 430px;
float : left;
padding-bottom : 10px;
}
#col-white {
width: 840px;
float: left;
padding: 0px 20px 20px 30px;
}
#bkg-green {
background-image : url(../images/bkg-green-2.png);
height : auto;
width : 879px;
padding-top : 20px;
float : left;
padding-left : 60px;
padding-bottom : 20px;
padding-right : 25px;
}
#bkg-green p {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 0.9em;
color : #d1d1d1;
}
#bkg-white-plain {
background-image : url(../images/bkg-white.png);
background-repeat : repeat-y;
width : 903px;
height : auto;
float : left;
padding-left : 60px;
}
#left-col-white-bottom {
width : 440px;
float : left;
padding-top : 15px;
}
#right-col-white-bottom {
width : 419px;
padding-left : 30px;
padding-right : 10px;
float : left;
padding-top : 15px;
padding-bottom : 8px;
}
#table {
width : 380px;
border-top-width : 1px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width : 1px;
border-top-style : solid;
border-right-style : solid;
border-bottom-style : solid;
border-left-style : solid;
border-top-color : #477207;
border-right-color : #477207;
border-bottom-color : #477207;
border-left-color : #477207;
vertical-align : top;
}
#table p {
clear : both;
width : 100%;
margin : 0;
}
#table span {
float : left;
padding : 15px 10px;
}
#table span.col1 {
width : 90px;
font-size : 1.2em;
font-weight : bold;
color : #fff;
font-family : Arial, Helvetica, sans-serif;
background-color : #50701b;
border-top-width : 1px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width : 1px;
border-top-style : solid;
border-top-color : #fff;
border-right-color : #fff;
border-bottom-color : #fff;
border-left-color : #fff;
height : 15px;
}
#table span.col2 {
width : 246px;
font-family : Arial, Helvetica, sans-serif;
font-size : 0.9em;
color : #333;
background-color : #fff;
border-top-width : 1px;
border-top-style : solid;
border-top-color : #fff;
height : 16px;
}
caption {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 1.2em;
color : #51701c;
font-weight : bold;
text-align : left;
}
#external-link {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 12px;
color : #fff;
margin : 15px;
width : 200px;
height : 20px;
}
#external-link a {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 12px;
color : #fff;
}
#external-link a:hover {
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 12px;
color : #50701b;
}
#footer {
background-image : url(../images/footer.png);
width : 100%;
height : 43px;
float : left;
/*
padding-top:6px;
padding-left : 60px;
*/
font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
font-size : 12px;
color : #666;
background-repeat : no-repeat;
}
#footer-nav {
float:left;
font-family : Tahoma, Geneva, sans-serif;
margin: 12px 0px 0px 30px;
font-size : 12px;
color : white;
}
#footer-nav1 {
float: right;
font-family : Tahoma, Geneva, sans-serif;
margin: 12px 60px 0px 30px;
font-size : 12px;
color : white;
}
